**/__pycache__
**/.mypy_cache
**/.DS_Store
**/._.DS_Store
**/log/**
**/.idea
**/.vscode
**/*env
**/*.egg-info
**/build
**/dist
*.suo
*.log
*.dir
*.dat
*.sln
*.swp
*.pyc
*.name
*.bak
*.whl
*.project
.pydevproject
*.ximg
*.tar.bz2
.env
tasks.py
*.db

